.magnolia {
    background-color: grey;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

body {
    background-image: url(https://live.staticflickr.com/7047/6859581949_31fca8effd_b.jpg);
}

a {
    color: black;
}

a:hover {
    color: red;
}

a:active {
    color: red;
}

a:visited {
    color: black;
}